:root {
  --main-font: 'Roboto', sans-serif;
  --sekondary-font: 'Raleway', sans-serif;
  /*text colors*/
  --accent-color: #2196f3;
  --main-text-cl: #757575;
  --secondary-text-cl: #212121;
  --color-logo: #000000;
  --clients-color: #afb1b8;
  /*bg colors*/
  --accent-bg-color: #2f303a;
  --main-bg-cl: #ffffff;
  --btn-hover-cl: #188ce8;
  --section-team-color: #f5f4fa;
  --our-team-color: #ffffff;
  --header-color: #ececec;
  --hero-color: rgba(47, 48, 58, 0.4);
  --our-team: rgba(47, 48, 58, 0.8);
  --color-description: rgba(33, 150, 243, 0.9);
  --modal-color: rgba(0, 0, 0, 0.2);
  --color-close: rgba(0, 0, 0, 0.1);
  /* animation */
  --modal-anim: 400ms linear;
  --hover-anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-cl);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.hero__btn {
  padding: 10px 32px;
  display: block;
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin-left: auto;
  margin-right: auto;
}

.btn--style {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--main-bg-cl);
  background-color: var(--accent-color);
  cursor: pointer;
  letter-spacing: 0.06em;
  -webkit-transition: var(--hover-anim);
  transition: var(--hover-anim);
}

.btn--style:focus {
  background-color: var(--btn-hover-cl);
  color: var(--main-bg-cl);
}

.btn--style:hover {
  color: var(--btn-hover-cl);
  color: var(--main-bg-cl);
}

.btn--style {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 0.06em;
  color: var(--main-bg-cl);
  border: none;
  background-color: var(--accent-color);
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  -webkit-transition: var(--hover-anim);
  transition: var(--hover-anim);
  border-radius: 4px;
  outline: transparent;
}

.btn--style:hover, .btn--style:focus {
  background-color: var(--btn-hover-cl);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  fill: var(--color-logo);
  outline: 1px solid var(--color-close);
  border: none;
  background-color: var(--main-bg-cl);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  padding: 0;
  -webkit-transition: var(--hover-anim);
  transition: var(--hover-anim);
}

.modal__btn-close:hover, .modal__btn-close:focus {
  fill: var(--accent-color);
}

.catalog__btn {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--secondary-text-cl);
  background-color: var(--section-team-color);
  cursor: pointer;
  letter-spacing: 0.03em;
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  -webkit-transition: background-color var(--hover-anim), color var(--hover-anim), -webkit-box-shadow var(--hover-anim);
  transition: background-color var(--hover-anim), color var(--hover-anim), -webkit-box-shadow var(--hover-anim);
  transition: background-color var(--hover-anim), color var(--hover-anim), box-shadow var(--hover-anim);
  transition: background-color var(--hover-anim), color var(--hover-anim), box-shadow var(--hover-anim), -webkit-box-shadow var(--hover-anim);
  outline: transparent;
}

@media screen and (min-width: 1200px) {
  .catalog__btn:hover, .catalog__btn:focus {
    color: var(--main-bg-cl);
    background-color: var(--accent-color);
    -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.catalog__link {
  margin-right: 8px;
}

.catalog__link:last-child {
  margin-right: 0;
}

.footer__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--main-bg-cl);
  background-color: var(--accent-color);
  padding: 10px 28px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

@media screen and (max-width: 1199.98px) {
  .footer__btn {
    margin-left: auto;
    margin-right: auto;
  }
}

.our-team__social {
  width: 44px;
  height: 44px;
  color: var(--main-bg-cl);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color var(--hover-anim);
  transition: background-color var(--hover-anim);
  outline: transparent;
}

.our-team__social:hover, .our-team__social:focus {
  background-color: var(--accent-color);
}

.our-team__social:hover .our-team__icon,
.our-team__social:focus .our-team__icon {
  fill: var(--main-bg-cl);
}

.footer__social-logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color var(--hover-anim);
  transition: background-color var(--hover-anim);
  outline: transparent;
}

.footer__social-logo:hover, .footer__social-logo:focus {
  background-color: var(--accent-color);
}

.logo--blue {
  font-family: var(--sekondary-font);
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199.98px) {
  .logo--blue {
    font-size: 24px;
    line-height: 1.16;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .logo--blue {
    font-size: 26px;
    line-height: 1.19;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.modal-title {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--secondary-text-cl);
}

@media screen and (max-width: 320px) {
  .modal-title {
    font-size: 14px;
  }
}

@media screen and (min-width: 480px) {
  .modal-title {
    line-height: 1.5;
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .modal-title {
    line-height: 1.5;
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-title {
    line-height: 1.15;
    font-size: 20px;
  }
}

.modal-form__input {
  width: 100%;
  height: 100%;
  border: none;
  height: 40px;
  padding-left: 42px;
  -webkit-transition: var(--hover-anim);
  transition: var(--hover-anim);
  border: none;
  outline: transparent;
}

.modal-form__input:focus {
  outline: 1px solid var(--accent-color);
  border-radius: 4px;
}

.modal-form__label {
  display: block;
  height: 100%;
  margin-bottom: 10px;
}

.form-text--decoration {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-cl);
}

.modal-form__span {
  color: var(--main-text-cl);
}

.comment--decoration {
  width: 448px;
  height: 120px;
  margin-bottom: 20px;
}

.comment--style {
  resize: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  padding: 12px 16px;
  resize: none;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  outline: 1px solid rgba(33, 33, 33, 0.2);
  border: none;
  -webkit-transition: var(--hover-anim);
  transition: var(--hover-anim);
  margin-top: 4px;
}

.comment--style:hover, .comment--style:focus {
  outline-color: var(--accent-color);
  border: none;
}

.comment--style:placeholder-shown {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__field {
  margin-top: 4px;
  position: relative;
  outline: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: var(--hover-anim);
  transition: var(--hover-anim);
}

.modal-form__field:hover, .modal-form__field:focus {
  color: var(--accent-color);
  outline-color: var(--accent-color);
  border: none;
}

.modal-form__field:focus-within .modal-form__icon {
  color: var(--accent-color);
}

.modal-svg--decoration {
  position: absolute;
  left: 15px;
  top: 14px;
  fill: currentColor;
}

.label--comment {
  display: block;
  height: 138px;
}

.modal-form__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.03em;
  margin-top: 20px;
  margin-bottom: 30px;
}

@media screen and (max-width: 320px) {
  .modal-form__radio {
    font-size: 9px;
  }
}

@media screen and (min-width: 480px) {
  .modal-form__radio {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .modal-form__radio {
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form__radio {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form__btn {
  padding: 10px 55px;
}

.modal-form__checkbox:checked + .modal-form__svg-check {
  fill: var(--main-bg-cl);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.modal-form__checkbox:focus + .modal-form__svg-check {
  border-color: var(--accent-color);
}

.modal-form__checkbox:hover + .modal-form__svg-check {
  border-color: var(--accent-color);
}

.svg--check {
  width: 16px;
  height: 15px;
  margin-right: 9px;
  fill: var(--main-bg-cl);
  border: 2px solid var(--secondary-text-cl);
  -webkit-transition: var(--hover-anim);
  transition: var(--hover-anim);
  border-radius: 2px;
}

.color--link {
  color: var(--accent-color);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--modal-color);
  z-index: 10;
  -webkit-transition: opacity var(--modal-anim), visibility var(--modal-anim);
  transition: opacity var(--modal-anim), visibility var(--modal-anim);
  z-index: 101;
}

.modal {
  background-color: var(--main-bg-cl);
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 320px) {
  .modal {
    width: 310px;
    height: 550px;
    padding: 10px;
  }
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
    padding: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .modal {
    width: 450px;
    height: 609px;
    padding: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
    padding: 40px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767.98px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767.98px) {
  .header__navigation {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .header__navigation {
    margin-left: 93px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__logo-studio {
  color: var(--color-logo);
}

.header__list {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-text-cl);
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header__list {
    margin-right: 84px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .header__list {
    margin-right: 305px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .page--after::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    left: 0;
    bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .page--after::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    left: 0;
    bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header__contact:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header__contact:first-child {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1199.98px) {
  .header__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header__item {
  position: relative;
  display: block;
  margin-right: 50px;
}

.header__item:last-child {
  margin-right: 0;
}

.link--style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: inherit;
  -webkit-transition: var(--hover-anim);
  transition: var(--hover-anim);
}

.link--style:hover, .link--style:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .link--style {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header__contacts {
  font-family: var(--main-font);
  font-weight: 500;
  color: var(--main-text-cl);
  letter-spacing: 0.02em;
  margin-left: auto;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header__contacts {
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .header__contacts {
    font-size: 14px;
    line-height: 1.14;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__icon {
  fill: currentColor;
  margin-right: 10px;
}

.page--after {
  color: var(--accent-color);
}

.header__portfolio {
  border-top: 1px solid var(--header-color);
}

.header__menu {
  fill: currentColor;
  z-index: 100;
}

.icon_close {
  position: fixed;
}

.header__menu-link {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  z-index: 100;
  color: var(--color-logo);
}

.header__menu-link:hover, .header__menu-link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header__menu-link {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header__menu-link {
    display: none;
  }
}

.header__menu-mobile {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 48px 84px 48px 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--main-bg-cl);
  z-index: 10;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform var(--hover-anim);
  transition: -webkit-transform var(--hover-anim);
  transition: transform var(--hover-anim);
  transition: transform var(--hover-anim), -webkit-transform var(--hover-anim);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu-mobile.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header__menu-link .icon_menu {
  display: none;
}

.header__menu-link.is-open .icon_menu {
  display: block;
}

.header__menu-link.is-open .icon_close {
  display: none;
}

.mobile__close {
  fill: currentColor;
}

.mobile_item-navigation {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--secondary-text-cl);
  text-decoration: none;
}

.mobile_link-navigation:not(:last-child) {
  margin-bottom: 30px;
}

.mobile_link-contact:first-child {
  margin-bottom: 32px;
}

.mobile_item-tel {
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 34px;
  line-height: 1.18;
  color: var(--accent-color);
}

.mobile_item-mail {
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 24px;
  line-height: 1.6;
  color: var(--main-text-cl);
}

.mobile__social {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}

@media screen and (max-width: 410px) {
  .mobile__social {
    font-size: 12px;
  }
}

.mobile_list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile_link-social {
  position: relative;
}

.mobile_link-social:not(:last-child) {
  margin-right: 20px;
}

.mobile_link-social:not(:last-child)::after {
  position: absolute;
  content: '';
  width: 1px;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.2);
  top: 0;
  right: -10px;
}

.mobile_list-contact {
  margin-top: auto;
  margin-bottom: 64px;
}

.mobile_page {
  color: var(--accent-color);
}

.hero {
  background-color: var(--accent-bg-color);
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767.98px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/bg/hero-bg-m.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg/hero-bg-m.jpg);
    max-width: 480px;
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (max-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (min-resolution: 192dpi), screen and (max-width: 767.98px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/bg/hero-bg-m2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg/hero-bg-m2x.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/bg/hero-bg-t.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg/hero-bg-t.jpg);
    max-width: 768px;
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/bg/hero-bg-t2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg/hero-bg-t2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/bg/hero-bg-d.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg/hero-bg-d.jpg);
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/bg/hero-bg-d2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg/hero-bg-d2x.jpg);
  }
}

.hero__title {
  color: var(--main-bg-cl);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1199.98px) {
  .hero__title {
    width: 100%;
    max-width: 360px;
    font-size: 26px;
    line-height: 1.62;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    height: 120px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.benefits__text {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71x;
  color: var(--main-text-cl);
  letter-spacing: 0.03em;
}

.benefits__title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-text-cl);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media screen and (max-width: 767.98px) {
  .benefits__title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.benefits__advantages {
  height: 120px;
  background-color: var(--section-team-color);
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  border-radius: 4px;
}

.benefits__item {
  display: block;
  width: 100%;
}

@media screen and (max-width: 767.98px) {
  .benefits__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .benefits__item {
    width: 354px;
  }
  .benefits__item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
  .benefits__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits__item {
    width: 270px;
  }
  .benefits__item:not(:last-child) {
    margin-right: 30px;
  }
}

.about__title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  color: var(--secondary-text-cl);
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (max-width: 1199.98px) {
  .about__title {
    font-size: 28px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .about__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .our-team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .our-team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.our-team__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--our-team-color);
}

@media screen and (max-width: 767.98px) {
  .our-team__item {
    width: 100%;
  }
  .our-team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .our-team__item {
    width: 354px;
  }
  .our-team__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .our-team__item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team__item {
    width: 270px;
  }
  .our-team__item:not(:last-child) {
    margin-right: 30px;
  }
}

.our-team__wraper {
  padding-bottom: 30px;
  padding-top: 30px;
}

@media screen and (max-width: 1199.98px) {
  .our-team__wraper {
    padding-bottom: 24px;
  }
}

.our-team__item .name {
  margin-bottom: 10px;
}

@media screen and (max-width: 767.98px) {
  .about {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .about {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .about {
    margin-bottom: 94px;
  }
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__item {
  position: relative;
  margin-right: 30px;
}

.about__item:last-child {
  margin-right: 0;
}

.about__text {
  position: absolute;
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  background-color: var(--our-team);
  left: 0;
  bottom: 0;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-bg-cl);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-team__name {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-cl);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.section-team {
  background-color: var(--section-team-color);
}

.our-team__position {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 16px;
  line-height: 1.19;
  color: var(--main-text-cl);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.our-team__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-team__link:not(:last-child) {
  margin-right: 10px;
}

.our-team__icon {
  -webkit-transition: var(--hover-anim);
  transition: var(--hover-anim);
  fill: var(--clients-color);
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 1199.98px) {
  .clients {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 767.98px) {
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .clients__item {
    width: 210px;
  }
  .clients__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients__item {
    width: 210px;
  }
  .clients__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .clients__item:nth-child(-n + 4) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .clients__item {
    width: 226px;
  }
  .clients__item:nth-child(-n + 3) {
    margin-bottom: 30px;
  }
  .clients__item:nth-child(1) {
    margin-right: 30px;
  }
  .clients__item:nth-child(2) {
    margin-right: 30px;
  }
  .clients__item:nth-child(4) {
    margin-right: 30px;
  }
  .clients__item:nth-child(5) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: 170px;
        flex-basis: 170px;
  }
  .clients__item:not(:last-child) {
    margin-right: 30px;
  }
}

.client__name {
  color: var(--clients-color);
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--clients-color);
  border-radius: 4px;
  -webkit-transition: var(--hover-anim);
  transition: var(--hover-anim);
  outline: transparent;
}

.client__name:hover, .client__name:focus {
  border-color: var(--accent-color);
}

.client__name:hover .clients__icon,
.client__name:focus .clients__icon {
  fill: var(--accent-color);
}

.client__name .clients__icon {
  -webkit-transition: var(--hover-anim);
  transition: var(--hover-anim);
  fill: currentColor;
}

.catalog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767.98px) {
  .catalog__list {
    margin-bottom: 40px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .catalog__list {
    margin-bottom: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .catalog__list {
    margin-bottom: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767.98px) {
  .catalog__link:not(:nth-child(n+4)) {
    margin-bottom: 15px;
  }
}

.catalog__img-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog__img-list h2 {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--secondary-text-cl);
  letter-spacing: 0.06em;
}

.catalog__text {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 16px;
  line-height: 1.88;
  color: var(--main-text-cl);
  letter-spacing: 0.03em;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .first--item-margin {
    padding-bottom: 56px;
  }
}

.catalog__img-link:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (max-width: 767.98px) {
  .catalog__img-link {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .catalog__img-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 354px;
  }
  .catalog__img-link:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .catalog__img-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: 30px;
    margin-bottom: 30px;
    width: 370px;
  }
  .catalog__img-link:nth-child(3n) {
    margin-right: 0;
  }
  .catalog__img-link:nth-child(n + 7) {
    margin-bottom: 0;
  }
}

.catalog__description {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: var(--color-description);
  color: var(--main-bg-cl);
  width: 100%;
}

@media screen and (max-width: 479px) {
  .catalog__description {
    padding: 10px;
  }
}

@media screen and (min-width: 480px) {
  .catalog__description {
    padding: 77px 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .catalog__description {
    padding: 49px 24px 77px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .catalog__description {
    padding: 63px 24px;
  }
}

.catalog__card-one {
  position: relative;
  overflow: hidden;
}

.catalog__card-two {
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transition: -webkit-transform var(--hover-anim);
  transition: -webkit-transform var(--hover-anim);
  transition: transform var(--hover-anim);
  transition: transform var(--hover-anim), -webkit-transform var(--hover-anim);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  width: 100%;
  height: 100%;
}

.catalog__icon {
  text-decoration: none;
  display: block;
  -webkit-transition: -webkit-box-shadow var(--hover-anim);
  transition: -webkit-box-shadow var(--hover-anim);
  transition: box-shadow var(--hover-anim);
  transition: box-shadow var(--hover-anim), -webkit-box-shadow var(--hover-anim);
  outline: transparent;
  height: 100%;
}

.catalog__icon:hover, .catalog__icon:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.catalog__icon:hover .catalog__card-two,
.catalog__icon:focus .catalog__card-two {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.catalog__img h2 {
  margin-bottom: 4px;
}

.catalog__img {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px 0 24px;
}

.footer {
  background-color: var(--accent-bg-color);
}

.footer__list {
  font-style: normal;
  margin-top: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1199.98px) {
  .footer__list {
    margin-bottom: 60px;
  }
}

.footer__item {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-bg-cl);
  text-decoration: none;
  letter-spacing: 0.03em;
  -webkit-transition: var(--hover-anim);
  transition: var(--hover-anim);
}

.footer__item:hover, .footer__item:focus {
  color: var(--accent-color);
}

.footer__item-two {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  letter-spacing: 0.03em;
  -webkit-transition: var(--hover-anim);
  transition: var(--hover-anim);
}

.footer__item-two:hover, .footer__item-two:focus {
  color: var(--accent-color);
}

.footer__logo-white {
  color: var(--main-bg-cl);
}

@media screen and (max-width: 1199.98px) {
  .footer__link {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__link {
    margin-bottom: 9px;
  }
}

.footer__link:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__social {
    margin-right: 89px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__social {
    margin-right: auto;
  }
}

.footer__text {
  color: var(--main-bg-cl);
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media screen and (max-width: 1199.98px) {
  .footer__text {
    text-align: center;
  }
}

@media screen and (max-width: 767.98px) {
  .footer__contacts {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 76px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .footer__contacts {
    margin-right: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 60px 15px;
  }
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767.98px) {
  .footer__social-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 60px;
  }
}

.footer__social-link:not(:last-child) {
  margin-right: 10px;
}

.footer__icon {
  fill: var(--main-bg-cl);
}

.footer__input {
  color: var(--main-bg-cl);
  font-size: 16px;
  letter-spacing: 0.03em;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
}

@media screen and (max-width: 767.98px) {
  .footer__input {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__input {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1199.98px) {
  .footer__input {
    margin-bottom: 20px;
  }
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1199.98px) {
  .footer__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer__icon-send {
  margin-left: 10px;
  fill: currentColor;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__adress-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .footer__adress-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=main.css.map */