.footer {
  background-color: var(--accent-bg-color);
}
.footer__adress {
  @include mq(tablet-only) {
    margin-left: 26px;
  }
}
.footer__list {
  font-style: normal;
  margin-top: 20px;

  @include mq(tablet-only) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include mq(not-desktop) {
    margin-bottom: 60px;
  }
}

.footer__item {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-bg-cl);
  text-decoration: none;
  letter-spacing: 0.03em;
  transition: var(--hover-anim);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.footer__item-two {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  letter-spacing: 0.03em;
  transition: var(--hover-anim);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__logo-white {
  color: var(--main-bg-cl);
}

.footer__link {
  @include mq(not-desktop) {
    margin-bottom: 8px;
  }

  @include mq(desktop) {
    margin-bottom: 9px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.footer__social {
  @include mq(tablet-only) {
    margin-right: 89px;
  }
  @include mq(desktop) {
    margin-right: auto;
  }
}
.footer__text {
  color: var(--main-bg-cl);
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;

  @include mq(not-desktop) {
    text-align: center;
  }
}

.footer__contacts {
  @include mq(mobile-only) {
    text-align: center;
  }

  @include mq(tablet-only) {
  }
  @include mq(desktop) {
    margin-right: 70px;
  }
}

.footer__section {
  @include mq(desktop) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 60px 15px;
  }
}

.footer__social-list {
  display: flex;

  @include mq(mobile-only) {
    justify-content: center;
    margin-bottom: 60px;
  }
}
.footer__social-link:not(:last-child) {
  margin-right: 10px;
}

.footer__icon {
  fill: var(--main-bg-cl);
}

.footer__input {
  color: var(--main-bg-cl);
  font-size: 16px;
  letter-spacing: 0.03em;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;

  @include mq(mobile-only) {
    width: 100%;
  }
  @include mq(tablet-only) {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }

  @include mq(not-desktop) {
    margin-bottom: 20px;
  }
}

.footer__form {
  display: flex;

  @include mq(not-desktop) {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
}
.footer__icon-send {
  margin-left: 10px;
  fill: currentColor;
}
.footer__adress-social {
  @include mq(tablet-only) {
    display: flex;
    justify-content: space-between;
  }
  @include mq(desktop) {
    display: flex;
  }
}
