.header {
  display: flex;
  align-items: center;

  @include mq(mobile-only) {
    display: flex;
    justify-content: space-between;
  }
  @include mq(tablet-only) {
  }
}

.header__navigation {
  @include mq(mobile-only) {
    display: none;
  }

  @include mq(tablet-only) {
    display: flex;
    margin-left: 88px;
    align-items: center;
  }
  @include mq(desktop) {
    margin-left: 93px;
    display: flex;
  }
}

.header__logo-studio {
  color: var(--color-logo);
}
.header__list {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-text-cl);
  letter-spacing: 0.02em;
  display: flex;

  @include mq(tablet-only) {
    margin-right: 84px;
    align-items: center;
  }

  @include mq(desktop) {
    margin-right: 305px;
  }
}
.page--after {
  @include mq(tablet-only) {
    &::after {
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 4px;
      background-color: var(--accent-color);
      border-radius: 2px;
      left: 0;
      bottom: 0;
    }
  }

  @include mq(desktop) {
    &::after {
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 4px;
      background-color: var(--accent-color);
      border-radius: 2px;
      left: 0;
      bottom: 0;
    }
  }
}
.header__contact {
  &:first-child {
    @include mq(tablet-only) {
      margin-bottom: 10px;
    }
    @include mq(desktop) {
      margin-right: 30px;
    }
  }
}
.header__link {
  @include mq(not-desktop) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.header__item {
  position: relative;
  display: block;
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }
}

.link--style {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  transition: var(--hover-anim);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @include mq(tablet-only) {
  }
  @include mq(desktop) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.header__contacts {
  font-family: var(--main-font);
  font-weight: 500;
  color: var(--main-text-cl);
  letter-spacing: 0.02em;
  margin-left: auto;

  @include mq(tablet-only) {
    font-size: 12px;
    line-height: 1.16;
  }

  @include mq(desktop) {
    font-size: 14px;
    line-height: 1.14;
    display: flex;
  }
}
.header__icon {
  fill: currentColor;
  margin-right: 10px;
}
.page--after {
  color: var(--accent-color);
}
.header__portfolio {
  border-top: 1px solid var(--header-color);
}

.header__menu {
  fill: currentColor;
  z-index: 100;
}
.icon_close {
  position: fixed;
}
.header__menu-link {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  z-index: 100;
  color: var(--color-logo);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @include mq(tablet-only) {
    display: none;
  }
  @include mq(desktop) {
    display: none;
  }
}

.header__menu-mobile {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 48px 84px 48px 40px;
  flex-direction: column;
  background-color: var(--main-bg-cl);
  z-index: 10;
  transform: translateX(100%);
  transition: transform var(--hover-anim);
  display: flex;

  &.is-open {
    transform: translateX(0);
  }
}
.header__menu-link .icon_menu {
  display: none;
}
.header__menu-link.is-open .icon_menu {
  display: block;
}
.header__menu-link.is-open .icon_close {
  display: none;
}
.mobile__close {
  fill: currentColor;
}

.mobile_item-navigation {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--secondary-text-cl);
  text-decoration: none;
}
.mobile_link-navigation {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}
.mobile_link-contact {
  &:first-child {
    margin-bottom: 32px;
  }
}
.mobile_item-tel {
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 34px;
  line-height: 1.18;
  color: var(--accent-color);
}
.mobile_item-mail {
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 24px;
  line-height: 1.6;
  color: var(--main-text-cl);
}
.mobile__social {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
  @media screen and (max-width: 410px) {
    font-size: 12px;
  }
}
.mobile_list-social {
  display: flex;
}
.mobile_link-social {
  position: relative;
  &:not(:last-child) {
    margin-right: 20px;
    &::after {
      position: absolute;
      content: '';
      width: 1px;
      height: 100%;
      background-color: rgba(33, 33, 33, 0.2);
      top: 0;
      right: -10px;
    }
  }
}
.mobile_list-contact {
  margin-top: auto;
  margin-bottom: 64px;
}
.mobile_page {
  color: var(--accent-color);
}
