.header {
  display: flex;
  align-items: center;
}
.header__logo-studio {
  color: var(--color-logo);
}
.header__list {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-text-cl);
  letter-spacing: 0.02em;
  display: flex;
}
.page--after {
  &::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    left: 0;
    bottom: 0;
  }
}

.header__item {
  position: relative;
  display: block;
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }
}

.link--style {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  color: inherit;
  transition: var(--hover-anim);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.header__contacts {
  font-family: var(--main-font);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-text-cl);
  letter-spacing: 0.02em;
  margin-left: auto;
  display: flex;
}
.header__icon {
  fill: currentColor;
  margin-right: 10px;
}
.page--after {
  color: var(--accent-color);
}
.header__portfolio {
  border-bottom: 1px solid var(--header-color);
}
