.hero {
  background-color: var(--accent-bg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/bg/hero-bg.jpg);
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;

  @include mq(mobile-only) {
    max-width: 480px;
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
  }

  @include mq(tablet-only) {
    max-width: 768px;
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
  }

  @include mq(desktop) {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  color: var(--main-bg-cl);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  @include mq(not-desktop) {
    width: 360px;
    height: 84px;
    font-size: 26px;
    line-height: 1.62;
  }
  @include mq(desktop) {
    width: 696px;
    height: 120px;
    font-size: 44px;
    line-height: 1.36;
  }
}
.benefits__text {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71x;
  color: var(--main-text-cl);
  letter-spacing: 0.03em;
}

.benefits__title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-text-cl);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;

  @include mq(mobile-only) {
    text-align: center;
  }
}

.benefits__list {
  @include mq(tablet) {
    display: flex;
    flex-wrap: wrap;
  }
  @include mq(desktop) {
    display: flex;
  }
}

.benefits__advantages {
  width: 270px;
  height: 120px;
  background-color: var(--section-team-color);
  margin-bottom: 30px;
  align-items: center;
  display: flex;
  justify-content: center;

  @include mq(mobile-only) {
    width: 450px;
  }
  @include mq(tablet-only) {
    width: 354px;
  }
}

.benefits__item {
  display: block;
  height: 251px;
  @include mq(mobile-only) {
    &:not(:last-child) {
      margin-bottom: 30px;
      height: 226px;
    }
  }
  @include mq(tablet-only) {
    width: 354px;
    &:nth-child(-n + 2) {
      margin-bottom: 30px;
    }
    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
  }
  @include mq(desktop) {
    width: 270px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.about__title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  color: var(--secondary-text-cl);
  letter-spacing: 0.03em;

  text-align: center;

  @include mq(not-desktop) {
    font-size: 28px;
    margin-bottom: 30px;
  }
  @include mq(desktop) {
    font-size: 36px;
    margin-bottom: 50px;
  }
} /* 
.our-team__list {
  list-style: none;
  display: flex;
}

.our-team__item {
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--our-team-color);

  &:last-child {
    margin-right: 0;
  }
}
.our-team__wraper {
  padding-bottom: 30px;
  padding-top: 30px;
}
.our-team__item .name {
  margin-bottom: 10px;
}

.about {
  padding-top: 0;
}
.about__list {
  display: flex;
}
.about__item {
  position: relative;
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}

.about__text {
  position: absolute;
  content: '';
  display: flex;
  width: 100%;
  height: 70px;
  background-color: var(--our-team);
  left: 0;
  bottom: 0;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-bg-cl);
  align-items: center;
  justify-content: center;
}
.our-team__name {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-cl);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.section-team {
  background-color: var(--section-team-color);
}
.our-team__position {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 16px;
  line-height: 1.19;
  color: var(--main-text-cl);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.our-team__list {
  display: flex;
  justify-content: center;
}

.our-team__link:not(:last-child) {
  margin-right: 10px;
}

.our-team__icon {
  transition: var(--hover-anim);
  fill: var(--clients-color);
}
*/
.clients__list {
  display: flex;
  flex-wrap: wrap;
}
.clients__item {
  @include mq(mobile-only) {
    width: 210px;
    &:not(:nth-child(2n)) {
      margin-right: 30px;
    }
    &:nth-child(-n + 4) {
      margin-bottom: 30px;
    }
  }

  @include mq(tablet) {
    width: 226px;
    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
    &:nth-child(3n) {
      margin-bottom: 30px;
    }
  }

  @include mq(desktop) {
    width: 170px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.client__name {
  color: var(--clients-color);
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--clients-color);
  border-radius: 4px;
  transition: var(--hover-anim);
  outline: transparent;

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
  &:hover .clients__icon,
  &:focus .clients__icon {
    fill: var(--accent-color);
  }
  .clients__icon {
    transition: var(--hover-anim);
    fill: currentColor;
  }
}
